<h2>Show User</h2>

<ul>

  <li>
    <strong>Email:</strong>
    <%= @user.email %>
  </li>

  <li>
    <strong>Name:</strong>
    <%= @user.name %>
  </li>

</ul>

<span><%= button "Edit", to: user_path(@conn, :edit, @user), method: "get" %></span>
<span><%= button "Back", to: user_path(@conn, :index), method: "get" %></span>
