<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello TaskTracker!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <div class="top">
          <%= if @current_user do %>
            <%= button "Click To Log Out", to: "/session", method: :delete %></p>
          <% else %>
            <%= button "Click For Application Homepage", to: "/session", method: :delete %></p>
          <% end %>
      </div>

      <%= if get_flash(@conn, :info) do %>
        <p class="alert alert-info text-center border-0" role="alert">
          <%= get_flash(@conn, :info) %>
        </p>
      <% end %>
      <%= if get_flash(@conn, :error) do %>
        <p class="alert alert-danger text-center border-0" role="alert">
          <%= get_flash(@conn, :error) %>
        </p>
      <% end %>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
